* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0px;
}

.btn-primary:hover {
    background-color: #407cd7;
}

.navbar img {
    width: 40px;
    margin-left: 40px;
}

.navbar {
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0px;
}

.navbar a {
    font-size: 14px;
    color: #757575;
    margin-right: 5px;
}

.navbar a:hover {
    font-size: 14px;
    color: #407cd7;
}

#search-container {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #fff;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .sub-title {
    color: #757575;
    margin-bottom: 30px;
}

#card-container {
    display: flex;
}

#card-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0%;
    margin: .5%;
}

#card-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-boby {
    padding: 20px;
}

.card-date {
    font-size: 14px;
    color: #757575;
}

.card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}


.success {
    background-color: #D4EDD4;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}
/* dashboard */
.dashboard-title-container{
    margin-top: 30px;
    margin-bottom: 30px;
}
.dashboard-title-container th{
    width: 25%;
}
.table a{
    text-decoration: none;
}
.dashboard-events-container form{
    display: inline-block;
}
/* Event-page */
#info-container,
#info-container{
    margin-top: 30px;
}

#info-container img{
    border-radius: 10px;
}
#info-container h1{
    font-size: 36px;
    font-weight: 900;
}
#info-container p{
    margin: 0%;
    font-size: 14px;
    display: flex;
}
#info-container h3,
#description-container h3{
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    margin-right: 5px;
}
#event-submit{
    margin-top: 30px;
}

#items-list{
    list-style: none;
    padding-left: 0;
}
#items-list li{
    display: flex;
}
/* footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0px;
}


/* edit page */
.img-preview{
    width: 100px;
    margin-top: 20px;
}